/* css */

* {
  padding: 0;
  border-radius: 0;
}


window#waybar {
  /* background-color: #000000; */
}



#waybar .module {
  padding: 0 2px;
}


#workspaces button.focused {
  background-color: tomato;
}

#window {
  background-color: initial;
  padding: 0 0px;
}

#mpris {
  background-color: black;
}